/* style001.css */

body 
{
    margin: 2px 5px;
    background-color: rgb(40, 40, 40);
}

#clock
{
    /*margin: auto;*/
    padding: 17px 15px;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

input
{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(0, 255, 255);
    align-self: flex-start;
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

